body, html {
    margin: 20px;
    padding: 10px;
    width: 100%;
    height: 50%;
    overflow: hidden;
    background: linear-gradient(to bottom, #040029, #32279C, #5C50CE, #CFCAFF);
}
.header {
    position: fixed; /* 헤더를 고정시키기 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* 헤더 높이 */
    background-color: rgba(255, 255, 255, 0); /* 투명 배경색 */
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    padding: 0 20px; /* 좌우 패딩 */
    z-index: 1000; /* 다른 요소들 위에 놓이도록 설정 */
    box-sizing: border-box; /* 패딩과 테두리를 전체 너비에 포함 */
}

/* 로고 스타일 */
.header .logo {
    width: 300px; /* 로고의 너비 */
    height: auto; /* 자동 높이 유지 */
    margin-right: auto; /* 오른쪽 여백을 자동으로 설정하여 중앙 정렬 */
    margin-top: 10px;
    margin-bottom: 30px; 
}

/* 네비게이션 버튼 스타일 */
.header .nav-container {
    display: flex;
    align-items: center;
    margin-left: auto; /* 로고 오른쪽에 공간을 확보 */
}

.header .nav-button, .header .login-button {
    background: none;
    border: none;
    color: rgb(255, 255, 255); /* 버튼 텍스트 색상 */
    font-size: 16px;
    cursor: pointer;
    margin-left: 15px; /* 버튼 간의 간격 */
    white-space: nowrap; /* 버튼 텍스트가 줄바꿈되지 않도록 */
}

/* 로그인 버튼 스타일 */
.header .login-button {
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* 버튼 그림자 */
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 */
}


.main {
    margin-top: 250px; /* 헤더 높이만큼 여백 추가 */
    height: calc(100vh - 70px); /* 전체 높이에서 헤더 높이만큼 뺌 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: relative;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* 이미지 간의 간격 */
    margin-bottom: 20px; /* 이미지와 길드 목록 간의 간격 */
}
  
.img-container img {
    width: 60px; /* 이미지의 너비 조정 */
    height: 40px; /* 이미지의 높이 조정 */
    object-fit: contain; /* 이미지의 비율을 유지하며 컨테이너에 맞춤 */
    cursor: pointer; /* 이미지에 마우스 커서를 올렸을 때 포인터 커서로 변경 */
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* 클릭 및 호버 시 애니메이션 적용 */
}

.img-container img:hover {
    transform: scale(1.05); /* 마우스 오버 시 약간 확대 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 효과 */
}

.img-container img:active {
    transform: scale(0.95); /* 클릭 시 약간 축소 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 클릭 시 그림자 줄임 */
}

.modal-button-container {
    margin: 10px 0;  /* 위아래 여백 유지 */
    text-align: left;  /* 오른쪽 정렬로 변경 */
    padding-left: 25%;  /* 오른쪽에서 20% 떨어진 위치에 배치 */
}
  
.modal-button-container button {
    padding: 8px 10px;
    font-size: 16px;
    background-color: #ffffff; /* 초록색 배경 */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.modal-button-container button:hover {
    background-color: #e0e0e0; /* 호버 시 더 어두운 초록색 */
}

.home-button-container {
    display: flex;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 10px;
  }
  
  .home-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .home-button:hover {
    background-color: #595959;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  
  .modal-content > div {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .modal-content label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .modal-content input,
  .modal-content textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .modal-content textarea {
    height: 80px;
    resize: vertical;
  }
  
  .modal-content input:focus,
  .modal-content textarea:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  }
  .guild-info-modal p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .guild-info-modal span {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .guild-info-modal label {
    display: block;
    color:#5C50CE;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .guild-info-modal input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .guild-info-modal input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  }
  


