
.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #32279C; /* 헤더 배경색 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 헤더 그림자 추가 */
  }
  
.logo {
    width: 120px; /* 로고 크기 */
    cursor: pointer; /* 로고에 포인터 커서 추가 */
}
  
.nav {
    display: flex;
    gap: 20px; /* 버튼 사이의 간격 */
}
  
.nav-container {
    display: flex;
    align-items: center;
    margin-left: auto; /* 버튼들을 오른쪽으로 정렬 */
}
  
.nav-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
  
.nav-button:hover {
    text-decoration: underline;
}
  
.login-button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
  
.login-button:hover {
    background-color: #f0f0f0; /* 마우스 오버 시 배경색 변경 */
}
  