.my-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.member-info {
    background-color: #d8e4ff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 300px;
    width: 400px;
}
.member-info h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.info-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #5b5b5b;
}

.info-item h3 {
    margin: 0;
    margin-bottom: 5px;
    text-align: left;
    color: #666;
}

.info-item p {
    margin: 0;
    color: #333;
    font-size: 16px;
}

.info-item input {
    width: 30%;
    height: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 20px; 
}

.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.button-container button:first-child {
    background-color: #000000;
    color: white;
}

.button-container button:last-child {
    background-color: #939393;
    color: white;
}

.button-container button:hover {
    opacity: 0.8;
}

.modal-logo {
    width: 400px;
    margin: 20px 0;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.modal-button-yes {
    padding: 8px 16px;
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
}

.modal-button-no {
    padding: 10px 20px;
    background-color: rgb(87, 143, 255);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}